/*Importando tipografía Ride My Bike*/
@font-face{
   font-family: "Ride";
   src: url(../fonts/ride.otf);
   format:(ttf);
   font-style: normal;
   font-weight: normal;}
/*Importanto tipografía Romeo Essentials*/
@font-face{
   font-family: "Romeo";
   src: url(../fonts/romeo.otf);
   format:(ttf);
   font-style: normal;
   font-weight: normal;}


/*Particles js style*/
#particles-js {
    height: 100% !important;
    width: 100% !important;
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    z-index: -10 !important;
}


body{
	background-color: #001d3a !important;
	/*z-index: -1!important;*/
}


#S0{
	padding: 100px 0;
}
.carousel{
	background-color: transparent;
	height: 400px !important;
}
.carousel p{
	font-size: 18px !important;
}

.h1{
	font-family: 'Ride' !important;
	font-size: 5.6rem !important;
    margin: 2.1rem 0 1.68rem 0;
}
.h2{
	font-family: 'Ride' !important;
	font-size: 4.0rem !important;
	margin: 0 !important;
	font-weight: bold;
}
.deep-blue{
	color: #001d3a !important;
}
.bg-deep-blue{
	background-color: #001d3a !important;
}
.link{
	margin-top: 0 !important;
	font-size: 16px;
	font-weight: bold;
}


#S1 .container{
	width: 80% !important;
}
#S1{
	padding: 20px 0;
	margin-bottom: 0 !important;
}
.S1 p{
	font-size: 18px;
}
#S2 .container{
	width: 77% !important;
}
.S2 p{
	font-size: 18px;
	padding: 30px;
}
#S2{
	padding: 41px 0;
	margin-bottom: 0 !important;
}
#S2{
	/*background-image: url(../img/parallaxcode.png);*/
	background-color:rgba(36,36,36,0.8);
	/*background-color:rgba(0,29,58,0.9);*/
}